@import 'src/styles/utils.scss';
@include input-common-css;

.textarea-label {
  background: var(--white);
  width: 97%;
  left: 2px !important;
  top: 2px !important;
  padding-left: 17px;
  border-radius: 6px;
  padding-top: 6px;
}
textarea {
  padding-top: 25px!important;
  &.has-error {
    border: 1px solid var(--secondary)!important;
  }
}
