@import 'src/styles/utils.scss';

::ng-deep .mat-dialog-container {
  padding: 0px !important;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.input-container-with-error {
  margin-bottom: 15px;
}
