@import 'src/styles/responsive.scss';
@import 'src/styles/utils.scss';

:host {
  .navbar {
    background-color: white;
    padding: 30px 30px;
    margin: 0px !important;
    z-index: 109;
    .navbar-brand {
      color: var(--primary);
      font-weight: bold;
      font-size: 18px;
    }
    .brand-img {
      width: 200px;
    }
  }
}

.navbar-collapse mat-form-field {
  width: 215px;
  position: relative;
  left: 40px;
}
.navbar-toggler {
  border-radius: 0.25rem !important;
  padding: 0.75rem 0.25rem;
  font-size: var(--text-lg);
}
.avatar-round {
  width: 45px;
  height: 45px;
  font-size: 13px;
  margin-right: 10px;
}
.user-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.name {
  color: var(--dark);
}
.sub {
  color: var(--font-color-2);
}

::ng-deep .mat-mdc-menu-panel.more-button-receive {
  max-width: 150px;
  width: 150px;

  ul {
    list-style: none;
    margin: 0;
    li {
      padding: 10px;
    }
  }
}

.profile {
  display: none;
  @include devices(tablet-md) {
    display: flex;
    justify-content: flex-end;
  }
}
.m-l-35 {
  margin-left: 35px;
}
.export {
  margin-right: 30px;
}
@include reset-ul;
