/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import './theme/variables.css';
@import './styles/utils';
@import './styles/responsive';
@import './styles/table-custom';

html {
  font-family: 'Moderat Regular', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 62.5% !important;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Moderat Regular', Roboto, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark, #003a60) !important;
  text-align: left;
  font-size: 1.6rem;
  height: 100%;
  background-color: #f7fbfc;
}

// Custom text classes
.h-1 {
  font-size: var(--size-xxlarge, 3.4rem) !important;
  font-weight: 600;
}

.h-2 {
  font-size: var(--size-xlarge, 2.8rem) !important;
}

.h-3 {
  font-size: var(--size-large, 2.4rem) !important;
  font-weight: bold;
}

.h-4 {
  font-size: var(--size-small, 1.4rem) !important;
  font-weight: bold;
  color: var(--font-color-2) !important;
}

.body-text {
  font-size: var(--size-regular, 1.6rem) !important;
}

.body-text2 {
  font-size: var(--size-small, 1.4rem) !important;
  color: var(--dark) !important;
}

//button

button {
  outline: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

@media screen and (max-width: 992px) {
  .push-right {
    .sidebar {
      left: 235px !important;
    }
  }
}

//text colors

.text-off-blue {
  color: var(--font-color-2) !important;
}

.text-blue {
  color: var(--dark) !important;
}

* input:focus {
  outline: none !important;
}
* input:disabled {
  color: var(--dark);
  cursor: default;
  background-color: white !important;
}

button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
input:-webkit-autofill {
  -webkit-text-fill-color: var(--dark) !important;
}

.cdk-overlay-container {
  z-index: 9999;
}

.title {
  padding-bottom: 4px;
}

// scroll bar

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--border-color) 1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--border-color) 1;
}

.mat-form-field {
  line-height: 150% !important;
}
.size-60 {
  width: 60px;
  height: 60px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none !important;
}
//loader

.circle1 {
  stroke: var(--primary) !important;
}

.circle2 {
  stroke: var(--danger) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.12);
}

p {
  word-break: break-all;
}

.ff-table-container {
  min-height: 250px;
  margin-top: 15px;
  overflow-x: auto;
  box-shadow: 0px 0px 22px -3px rgb(0 0 0 / 10%);
  border-radius: 6px;
  width: 100%;

  @include scrollbar;

  table {
    width: 100%;
    border-collapse: collapse !important;
    border-spacing: 0;
    border-radius: 6px;
    padding: 0;
    @include table-props();
  }
}

// common pagination styles

.page-size-dropdown {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 4px 12px;
  color: var(--font-color);
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}

.per-page-wrapper {
  display: flex;
  align-items: center;
  @include devices(tablet-md) {
    position: relative;
    right: 8vw;
  }
}
.dropdown-page {
  list-style: none;
  padding-left: 10px;
  margin: 0;

  li {
    padding: 4px;
    cursor: pointer;
  }
}

.avatar-round {
  @extend %flex-default;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--white);
  text-transform: uppercase;
}

// sidebar

.mt-25 {
  margin-top: 25px;
}

.slanted-div {
  clip-path: polygon(0 0, 100% 90%, 100% 100%, 0% 100%);
  background-color: var(--info);
  height: 35px !important;
  margin-bottom: -1px !important;
}

.slanted-bg {
  background-color: var(--white);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}
.mt-25 {
  margin-top: 25px;
}

.min-h-300 {
  min-height: 300px;
}

ul.filter-box {
  @extend %flex-common-center;
  margin: 0;
  padding: 0;

  &.margin-tb {
    margin: 15px 0;
  }

  li {
    @extend %flex-between;
    padding: 5px 15px;
    font-size: 14px;
    background-color: var(--white);
    border-radius: 6px;
    font-family: 'Moderat Regular';

    &.active {
      border: 1px solid var(--font-color-2);
      color: var(--font-color-2);
      font-weight: 700;
    }

    &.inactive {
      color: var(--text-inactive);
      font-weight: 500;
    }

    &.header {
      padding: 6px 15px;
      border: 1px solid var(--disabled);
      color: var(--dark);
      font-family: 'Moderat Bold';
      @include devices(laptop-xlg) {
        padding: 9px 15px;
      }
    }

    mat-icon {
      font-size: 20px;
      height: 20px;
      padding-top: 2px;
      width: 20px;
      padding-left: 4px;
    }
  }
}

.no-data {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-data {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top,
  .tooltip-caret.position-bottom {
    border-top-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  background-color: white;
  border: 1px solid #e4e4e7;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: var(--dark);
}

.input-container-with-error {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include devices(laptop) {
    width: 48%;
  }
}
.error-message {
  color: var(--secondary);
  font-size: 12px;
}

.custom-modalbox {
  mat-dialog-container {
    border-radius: 6px !important;
  }
}
.pop-header {
  @extend %flex-common-center;
  justify-content: space-between;
  padding: 20px;
  h3 {
    font-weight: 700;
    color: var(--dark);
    font-size: 18px;
    margin: 0;
    font-family: 'Moderat Regular';
  }
}

.right-illustration {
  margin-left: 30px;
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include devices(tablet-md) {
    margin-top: 0;
    align-items: flex-start;
  }
}

.text-danger {
  color: var(--secondary);
}

.badge {
  border-radius: 5px;
  background-color: var(--table-row-active);
  font-size: 12px;
  margin-left: 12px;
  color: var(--dark);
  padding: 5px;
}

.widget-item {
  display: flex;
  flex-direction: row;

  .svg-wrap {
    background-color: var(--table-row-active);
    height: 50px;
    width: 50px;
    border-radius: 6px;
    @extend %flex-default;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    .key {
      font-size: 14px;
      color: var(--font-color-2);
    }

    .value {
      font-size: 20px;
      color: var(--dark);
    }
  }
}

.label-tr {
  color: var(--font-color-2);
  font-family: 'Moderat Regular';
}

.value-tr {
  color: var(--dark);
  font-family: 'Moderat Medium';
}

.badge-ff {
  padding: 3px 10px;
  background-color: var(--info);
  color: var(--dark);
  font-family: 'Moderat Medium';
  border-radius: 4px;
}
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.underline {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: var(--disabled);
}
